*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.row {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 0;

  @media (max-width: 75em) {
    margin: 0 2rem;
  }
}

.header {
  height: 9rem;
  background-color: #ccc;
  border: 1px solid #eee;
}

.main {
  & > * {
    background-color: #ccc;
    border: 1px solid #eee;
  }

  background-color: #fff;

  // padding: 4rem;
  padding: 2rem 0;

  display: grid;
  gap: 4rem;

  grid-template-rows: 80vh minmax(20rem, auto);
  grid-template-columns: 3fr 1fr;

  grid-auto-rows: minmax(20rem, auto);
}

.active-video {
  grid-row: 1/2;
  grid-column: 1/2;
}

.comments {
  grid-row: 2/-1;
  grid-column: 1/2;
}
.video-list {
  grid-row: 1/-1;
  grid-column: 2/-1;

  width: 100%;

  .video-container {
    display: flex;
    flex-wrap: wrap;

    img {
      flex: 1;
      width: 100%;
      max-width: 30rem;
    }

    .video-details {
      flex: 1;
    }
  }
}

@media (max-width: 56.25em) {
  .main {
    grid-template-rows: minmax(50vh, auto) minmax(20rem, auto);
  }

  .active-video {
    grid-column: 1/-1;
  }

  .comments {
    grid-row: 3/-1;
    grid-column: 1/-1;
  }

  .video-list {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}

.footer {
  background-color: #ccc;
  border: 1px solid #eee;
  min-height: 9rem;
}
